html{
    background-color: #F7E0E1;
    font-family: "Lucida Console", "Times New Roman";
  }
  
  @media only screen and (max-width: 600px) {
    #navbar {
      position: relative!important;
      width: 100%!important;
      height: 235px!important;
      float: none!important;
    }
    
    #nav-list {
      font-size: 5px!important;
    }
    
    #nav-header1 {
        display: none;
    }

    #nav-footer {
        display: none;
    }

    li a {
      text-align: center;
    }
    
    #main-doc {
      width: 100%!important;
      right: 0px!important;
      float: none!important;
    }
    
    iframe {
      width: 80%;
    }
    
  }
  
  #navbar {
    position: fixed;
    background-color: #D48B8D;
    margin: 0;
    padding: 0;
    width: 250px;
    min-width: 240px;
    overflow: auto;
    height: 100%;
    left: 0px;
    top: 0px;
    float: left;
  }
  
  ul {
    list-style-type: none;
  }
  
  #nav-header1 {
    color: #9E4D50;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
  }
  
  .nav-link {
    font-size: 15px;
    text-decoration: none;
    display: block;
    width: 90%;
    background-color: #EFCACB;
    padding: 10px;
    margin-top: 1px;
    color: #AB686B;
  }
  
  a:hover {
    font-style: italic;
    color: #9E4D50;
  }
  
  #main-doc {
    position: absolute;
    text-align: center;
    color: #9E4D50;
    background-color: #EFCACB;
    margin-left: 250px;
  }
  
  .main-header {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
  }
  
  iframe {
    padding: 10px;
  }
  
  p {
    padding: 10px;
    font-size: 13px;
    margin: 0px 40px; 
  }
  
  header {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
  }
  
  a {
    text-decoration: none;
    color: #9E4D50;
  }
  
  h2 {
    font-size: 13px;
  }
  
  .main-ul {
    position: relative;
    background-color: #EFCACB;
    font-size: 11px;
    margin: auto;
    width: 50%;
  }
  
  #nav-footer {
    
    position: absolute;
    bottom: 0px;
    text-align: right;
    right: 20px;
  }
  
  .footer-url {
    font-size: 10px;
  }
  
  h2 {
    font-size: 13px;
    color: #9E4D50;
  }